<!DOCTYPE html>
<html>
  <head>
    <title>Blog On Rails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <nav class="navbar navbar-light bg-light">
      <span class="nav-left">
        <div class="navbar-brand"><%= link_to "Blog On Rails", posts_path%></div>
      </span>

      <span class="nav justify-content-end">
        <div class="nav-item"><%= link_to "Home", posts_path %></div>
        <div class="nav-item"><%= link_to "New Post", new_post_path %></div>
      </span>
    </nav>

    <% if user_signed_in? %>
      Hello <%= link_to current_user.name, edit_user_path(current_user.id) %>,
      <%= link_to "Logout", session_path, method: :delete, data: {confirm: "are you sure you want to log out?"}%>
    <% else %>
      <%= link_to "Login", new_session_path %> |
      <%= link_to "Sign Up", new_user_path %>
    <% end %>
    <hr>
    
    

    <% flash[:notice] || flash[:alert] %>
    <%= yield %>
  </body>
</html>